@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* background: linear-gradient(#fff 70%, orange); */
}

ul {
  list-style: none;
}

.nav-container {
  background: transparent;
  /* position: absolute; */
  width: 100vw;
  z-index: 100;
  border-bottom: 2px solid #242424;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  color: #242424;
  margin-left: 30px;
  font-size: 44px;
  padding: 10px;
}

nav ul {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

nav li {
  list-style: none;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #242424;
  padding: 10px;
  border-radius: 22px;
  transition: all 100ms ease;
  font-weight: 600;
}

nav a:hover,
nav a.active {
  background-color: #2a8271;
  color: ghostwhite;
}

.mobile-menu {
  display: none;
  color: #242424;
  transform: scale(1.5);
}

/* PARALLAX  */

#parallax-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background,
.foreground {
position: absolute;
height: 100%;
width: 100%;
object-fit: cover;
z-index: -1;
}

.background {
  position: absolute;
  transform: translateZ(-10px) scale(2.1);
}

.foreground img {
  position: absolute;
  transform: translateZ(-5px) scale(1.5);
}

header h1 {
  text-align: center;
  color: ghostwhite;
  font-size: 100px;
  transform: translateZ(-7px);
  margin-bottom: 40px;
}
*/

/* SERVICES */

#services {
  width: 100%;
  z-index: 1;
  padding: 20px;
  background-color: ghostwhite;
}

.services-title {
  text-align: center;
  font-size: 40px;
  color: #242424;
  text-shadow: 1px 1px 2px lightgray;
  margin-bottom: 20px;
}

.card__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 100%;
  max-width: 300px;
  padding: 30px;
  margin: 0 20px;
  /* rgb(59, 214, 59), #2a8271 */
  /* background: linear-gradient(to top right,  10%, ghostwhite); */
  background-color: #2a8271;
  color: #242424;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px gray;
  transition: all 800ms ease;
  perspective: 1000px;
  margin-bottom: 10px;
}

.card:hover {
  transform: scaleX(-1);
}

.services-img__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card img {
  width: 100px;
  margin-bottom: 20px;
}

/* brand yellow #f4cd30 green #08551a  */

.card-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: ghostwhite;
}

.card p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: ghostwhite;
}

/* ABOUT  */

#about {
  background: linear-gradient(#013328 50%, #2a8271 75%, #fff);
  width: 100%;
  padding: 100px 20px 170px 200px;
  color: ghostwhite;
  margin-top: -5px;
  z-index: 100;
}

#about h1 {
  font-size: 70px;
}

.about-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.about-item {
  display: flex;
  flex-direction: row;
}

.about-item i {
  transform: scale(1.2);
  padding-top: 8px;
}

.about-item p {
  margin-left: 10px;
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  nav ul {
    display: none;
  }
  .mobile-menu {
    display: inline-block;
  }
  #about {
    padding-left: 20px;
  }
}

/* ABOUT  */

/* #about h1 {
  position: relative;
  color: ghostwhite;
} */

/* @media screen and (max-width: 500px) {
  header h1 {
    top: 160px;
    font-size: 40px;
  }
} */
