@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* brand yellow #f4cd30 green #08551a  */

.parallax-logo {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 700ms;
}

.modal--open .parallax-logo {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms 200ms;
}

/* NAV  */

ul {
  list-style: none;
}

nav {
  display: flex;
  margin-right: 30px;
}

.nav-container {
  background: transparent;
  /* position: absolute; */
  width: 100vw;
  z-index: 100;
  border-bottom: 2px solid #242424;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.logo-img {
  width: 100px;
}

.logo {
  color: #242424;
  margin-left: 30px;
  font-size: 40px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav li {
  list-style: none;
  font-size: 24px;
}

nav a {
  text-decoration: none;
  color: #242424;
  padding: 10px;
  border-radius: 22px;
  transition: all 100ms ease;
  font-weight: 600;
}

nav a:hover,
nav a.active {
  background-color: #2a8271;
  color: ghostwhite;
}

a.active:hover {
  background-color: #349380;
  transform: scale(1.1);
}

.btn__menu {
  transform: scale(2);
  background: transparent;
  border: none;
  color: #242424;
  cursor: pointer;
  display: none;
  margin-right: 30px;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open #parallax-container {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-right: -30px; */
}

.menu__list {
  padding: 30px 0;
}

.menu__backdrop ul li a {
  color: ghostwhite;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  right: 10px;
  top: 20px;
  padding: 8px;
  color: ghostwhite;
  transform: scale(2.5);
}

/* MAIL BTN  */

.mail__btn {
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: ghostwhite;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 90px;
  z-index: 1000;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.28);
  transition: all 300ms ease;
}

.mail__btn:hover {
  transform: scale(1.1);
}

.mail__btn:active {
  transform: scale(0.8);
}

/* PARALLAX  */

#parallax-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.background {
  position: absolute;
  transform: translateZ(-10px) scale(2.1);
}

.parallax-logo {
  border-radius: 50%;
  padding: 10px;
  transform: translateZ(-7px) scale(1.8);
  position: absolute;
  top: 90px;
  filter: brightness(1.4) contrast(1.4);
}

@keyframes shine {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

.foreground img {
  position: absolute;
  transform: translateZ(-5px) scale(1.5);
}

/* ABOUT  */

#about {
  background: linear-gradient(#013328 50%, #2a8271 75%, #fff);
  width: 100%;
  padding: 60px 20px 170px 200px;
  color: ghostwhite;
  margin-top: -2px;
  z-index: 1;
}

#about h1 {
  font-size: 70px;
}

.about-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.about-item {
  display: flex;
  flex-direction: row;
}

.about-item i {
  transform: scale(1.2);
  padding-top: 8px;
}

.about-item p {
  margin-left: 10px;
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  nav ul {
    display: none;
  }
  .btn__menu {
    display: inline-block;
  }
  #about {
    padding-left: 20px;
  }
}

/* ABOUT  */

/* SERVICES */

#new-cards {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -2px;
  padding-bottom: 60px;
}

.cards-title,
.testimonials__title,
.slider__title {
  color: #242424;
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px lightgray;
  padding: 0 20px;
}

.title__ {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__ h1 {
  margin: 30px 0;
  text-align: center;
}

.title__ i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  vertical-align: middle;
  color: #2d8c7a;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.card__container2 {
  width: 275px;
  height: 275px;
  perspective: 800px;
}

.card__container2:hover > .card2 {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}

.card2 {
  height: 100%;
  width: 100%;
  position: relative;
  transition: 1000ms;
  transform-style: preserve-3d;
}

.card-front2,
.card-back2 {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px 1px grey;
  position: absolute;
  backface-visibility: hidden;
}

.card-front2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #013328;
  color: ghostwhite;
  font-size: 22px;
  font-weight: 600;
  gap: 15px;
}

.card-front2 img {
  width: 160px;
  height: 160px;
}

.card-back2 {
  background: linear-gradient(to top left, #4eaa9a, #013328);
  transform: rotateY(180deg) rotateZ(180deg);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: ghostwhite;
  padding: 20px;
}

.card-back2 h2 {
  font-size: 28px;
}

.card-back2 p {
  font-size: 22px;
}

/* TESTIMONIALS  */

#testimonials {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-box {
  width: 90%;
  max-width: 800px;
  height: 300px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: -5px 10px 20px 1px grey;
  margin-bottom: 50px;
}

.slide-card {
  height: 300px;
  padding: 40px;
  color: ghostwhite;
  line-height: 22px;
  background: #fff;
  position: relative;
  background: linear-gradient(to right, #4eaa9a, #2a8271);
  z-index: 2;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile img {
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #253d39;
  box-shadow: 0 0 5px 3px lightgreen;
}

.profile h3 {
  font-size: 30px;
  color: ghostwhite;
  margin-bottom: 8px;
}

.profile p {
  font-size: 18px;
}

.review-text {
  font-size: 24px;
  line-height: 1.3;
}

#slide {
  width: 100%;
  padding-right: 60px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 500ms;
}

.sidebar {
  width: 60px;
  height: 100%;
  padding: 15px 0;
  background-color: #2a8271;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 15px 15px 0;
  z-index: 1;
}

.sidebar i {
  cursor: pointer;
  display: block;
  font-size: 40px;
  color: #92dfd4;
  /* transition: all 300ms ease; */
}

.sidebar i:hover {
  transform: scale(0.95);
}

.sidebar i:active {
  color: ghostwhite;
}

/* FOOTER  */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

footer img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 20px 2px lightgreen;
  padding: 8px;
  background-color: #08541b;
  margin: 30px auto 0 auto;
}

footer ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

footer i {
  transform: scale(1.4);
}

footer a {
  text-decoration: none;
  color: ghostwhite;
  font-size: 22px;
}

footer p {
  color: ghostwhite;
}

.copyright,
.roseway {
  padding: 10px;
}

.copyright {
  margin-top: 10px;
}

.roseway {
  margin-bottom: 30px;
}

/* MODAL  */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
  visibility: visible;
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translate(0%);
}

.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

.modal__icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
}

.modal__icon {
  width: 30px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 300ms ease;
  white-space: nowrap;
}

.modal__icon:hover {
  transform: scale(1.1);
}

.icon__info {
  position: absolute;
  left: 50px;
  transition: all 300ms ease;
  font-size: 20px;
  font-weight: 600;
  color: #242424;
}

.modal__icon--img {
  width: 100%;
  min-width: 60px;
}

.modal__contact {
  background-color: #242424;
  color: ghostwhite;
  transform: translateX(110%);
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 18px;
}

.modal__para {
  line-height: 1.75;
  font-size: 20px;
  margin-bottom: 12px;
}

.form__item {
  margin-bottom: 40px;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__submit {
  padding: 20px 60px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  position: relative;
  transition: 500ms;
  cursor: pointer;
}

.form__submit span {
  color: ghostwhite;
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.form__submit::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: #33ff00;
  box-shadow: 0 0 10px #33ff00, 0 0 30px #33ff00, 0 0 50px #33ff00;
}

.form__submit div {
  transition: 500ms;
  position: absolute;
  background-color: #33ff00;
  box-shadow: 0 0 15px #33ff00, 0 0 30px #33ff00, 0 0 50px #33ff00;
}

.form__submit .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

.form__submit .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.form__submit .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

.form__submit .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

.form__submit:hover span {
  color: ghostwhite;
}

.form__submit:hover::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.form__submit:hover .top,
.form__submit:hover .bottom {
  width: 100%;
}

.form__submit:hover .left,
.form__submit:hover .right {
  height: 100%;
}

.orange {
  /* color: #32CD32; */
  color: #228b22;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: ghostwhite;
  outline: none;
  border: 3px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
  transition: all 300ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: #33ff00;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visible {
  z-index: 2;
  display: flex;
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: ghostwhite;
  font-size: 36px;
  z-index: 100;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.9);
}

.fa-spinner {
  animation: spinner 750ms linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* IMG SLIDER  */

.slider__container {
  padding: 20px;
  background-color: #fff;
  position: relative;
  margin-top: -2px;
  padding-bottom: 60px;
}

.slider__wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 1/1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 10;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider__nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  background-color: transparent;
}

.slider__nav a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightgray;
  opacity: 0.75;
  transition: opacity ease 250ms;
  /* z-index: 30; */
}

.slider__nav a:hover {
  opacity: 1;
}

.slider__nav a:active {
  opacity: 1;
}

/* SMALL & MED PHONES  */

@media (max-width: 480px) {
  .logo {
    font-size: 28px;
    margin-left: 10px;
  }
  .btn__menu {
    margin-right: 10px;
  }
  .parallax-logo {
    width: 300px;
    top: 90px;
  }
  .slide-card {
    padding: 20px;
  }
  .card__container2 {
    width: 250px;
    height: 250px;
  }
  .card-back2 h2 {
    font-size: 22px;
  }
  .card-back2 p {
    font-size: 18px;
  }
  .profile h3 {
    font-size: 20px;
  }
  .review-text {
    font-size: 16px;
  }
  .card__wrapper {
    gap: 44px;
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .modal__half {
    width: 100%;
    padding: 20px;
  }
  .modal__title {
    font-size: 22px;
  }
  .modal__sub-title {
    font-size: 16px;
  }
  .modal__para {
    line-height: 1.5;
    font-size: 16px;
  }
  .form__item {
    margin-bottom: 20px;
  }
  .form__item--label {
    font-size: 16px;
  }
  textarea {
    height: 80px;
  }
  .icon__info {
    font-size: 16px;
  }
  .modal__exit {
    top: 15px;
    right: 15px;
  }
  .mail__btn {
    width: 50px;
    height: 50px;
    font-size: 24px;
    bottom: 20px;
    right: 20px;
  }
}

/* MED -> LARGE PHONES  */

@media (min-width: 481px) and (max-width: 767px) {
  .modal {
    top: 0;
    left: 0;
    transform: none;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 0;
  }
  .modal__half {
    width: 100%;
    padding: 20px;
  }
  .modal__title {
    font-size: 22px;
  }
  .modal__sub-title {
    font-size: 16px;
  }
  .modal__para {
    line-height: 1.5;
    font-size: 16px;
  }
  .form__item {
    margin-bottom: 20px;
  }
  .form__item--label {
    font-size: 16px;
  }
  textarea {
    height: 80px;
  }
  .icon__info {
    font-size: 16px;
  }
  .modal__exit {
    top: 15px;
    right: 15px;
  }
  .mail__btn {
    width: 60px;
    height: 60px;
    font-size: 28px;
    bottom: 20px;
    right: 20px;
  }
  .logo {
    font-size: 32px;
  }
  .parallax-logo {
    width: 380px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .modal {
    height: auto;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    width: 95%;
    border-radius: 20px;
    margin-top: 10px;
  }
  .modal__half {
    width: 100%;
    padding: 30px;
  }
  .modal__title {
    font-size: 24px;
  }
  .modal__sub-title {
    font-size: 20px;
  }
  .modal__para {
    line-height: 1.5;
    font-size: 20px;
  }
  .form__item {
    margin-bottom: 20px;
  }
  .form__item--label {
    font-size: 20px;
  }
  textarea {
    height: 80px;
  }
  .icon__info {
    font-size: 20px;
  }
  .modal__exit {
    top: 15px;
    right: 15px;
  }
  .mail__btn {
    width: 80px;
    height: 80px;
    font-size: 38px;
    bottom: 20px;
    right: 20px;
  }
  .logo {
    font-size: 34px;
  }
  .parallax-logo {
    width: 480px;
  }
}

@media (min-width: 993px) and (max-width: 1440px) {
  .logo {
    font-size: 36px;
  }
  .nav-links a {
    font-size: 18px;
  }
  .parallax-logo {
    width: 400px;
  }
  #about {
    padding: 60px 20px 170px 100px;
  }
  #about h1 {
    font-size: 60px;
  }
  .about-text {
    font-size: 20px;
  }
}